[Desktop Entry]
Name=Now Playing
Comment=Now Playing applet for COSMIC Desktop
Type=Application
Icon=io.github.cosmic-applet-now-playing
Exec=cosmic-applet-now-playing %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC;music;media;now playing;applet
MimeType=
